#sublime workspace
arkivat_shkoder.sublime-project
arkivat_shkoder.sublime-workspace

#ingore tags
.tags
.tags_sorted_by_file

#ignore logs
application/logs/errors.log

#ignore images
/archive/files/*
/archive/fullsize/*
/archive/square_thumbnails/*
/archive/thumbnails/*